body{
    background-color: #e8eaed;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.footer{
    margin:20px auto;
    /* text-align: center; */
    /* align-items: center; */
    width: 80%;
    
}
.footer1-{
    justify-content:space-between;
    display: flex;
    font-size:14px;
    
}
.footer1{
    letter-spacing: 0.5px;
    word-spacing: 1px;
}
.foo-1{
    /* width: 200px; */
    margin-top: 45px;
}
.footer2-{
    font-size: 12px;
    color: #586174;
    filter: contrast(10%);
}
.footer2{
    width: 150px;
    margin-bottom: 0px;
    margin-top: 10px;
    color: #586174;
    filter: contrast(50%);
}

.hr{
    border-bottom: 2px solid #d1d5df;
    margin-top: 100px;
    filter: contrast(100px);
}
.footer-img-{
    margin-top: 35px;
    margin-right: 30px;
}

.footer-about{
    display: flex;
    color: #586174;
    filter: contrast(10%);
}
.fa{
    margin-top: 30px;
}
.footer-about-{
    font-size: 12px;
    margin-right: 40px;
    margin-bottom: 0;
}
.f-a-{
    display: flex;
    align-items: center;
}
.f-a{
    justify-content:start;
}
.f-a1-{
    margin-right: 40px;
    margin-top: 0;
}
